---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import { SITE } from '../config';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

// let allPosts = await Astro.glob('./posts/{en,es}/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body class="ieee-light">
		<Nav links={[
			{name: 'Página Principal', href:''},
			{name: 'Capítulos', href:'societies'},
			{name: 'Blog / Noticias', href:'posts'},
		]}/>
		<slot/>
	</body>
</html>